# Sample gitconfig
#
# This is a sample gitconfig. Usually we keep a lot of sensitive information
# here (things like authentication tokens, email addresses, and so on), so this
# file is ignored in this project's .gitignore.
#
# To set this up, rename this file to `gitconfig.symlink` and you'll be able to
# install this to the correct location by running the project's main `rake`
# task.
[user]
        name = Maximillian Dornseif
        email = your@example.com
[alias]
        co = checkout
        count   = !git shortlog -sn
        clog = log --pretty=format:\"%h%x09%an%x09%ad%x09%s\"
        flog = log --name-status
        prepush = log --graph --stat origin/master..
        graph = log --graph --all --pretty=format:'%Cred%h%Creset - %Cgreen(%cr)%Creset %s%C(yellow)%d%Creset' --abbrev-commit --date=relative
        slog = log --oneline --decorate
        mlog = log --color --pretty=oneline --abbrev-commit
[color]
        diff = auto
        status = auto
        branch = auto
        ui = auto
[core]
        #excludesfile = ~/.gitignore
        #editor = mate -w
        quotepath = false
        whitespace = trailing-space,space-before-tab
[apply]
        whitespace = nowarn
[github]
        user = mdornseif
[mergetool]
        keepBackup = false
[diff]
        tool = Kaleidoscope
        word-diff = true
        renames = copies
        mnemonicprefix = true
[difftool]
        prompt = false
[advice]
        statusHints = false
        pushNonFastForward = false
[branch]
        autosetupmerge = true
[push]
        default = tracking
[rerere]
        enabled = true
[merge]
        stat = true
[difftool "Kaleidoscope"]
        cmd = ksdiff-wrapper git \"$LOCAL\" \"$REMOTE\"

